@media (max-width: 640px) {
	a {
		max-width: 100vw !important;
		word-wrap: break-word !important;
	}
}

@font-face {
	font-family: 'Fira Code';
	src: local('Fira Code'), local('FiraCode-Regular'), url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
}

code {
	font-family: 'Fira Code', monospace !important;
}

pre.mermaid {
	background-color: transparent !important;
}


.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: unset !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: unset !important;
}

.max-w-7xl {
	max-width: 100rem !important;
}

.max-w-prose {
	max-width: 100ch !important;
}