body {
	overflow-x: hidden;
}

a {
	max-width: 100vw !important;
	word-wrap: break-word !important;
}

@media (max-width: 640px) {
	span.katex-display > * {
		font-size: 0.65rem !important;
	}
}

@font-face {
	font-family: 'Fira Code';
	src: local('FiraCode-Regular'), url('/FiraCode-Regular.ttf') format('truetype');
}

code {
	font-family: 'Cascadia Code', 'Fira Code', monospace !important;
}

pre.mermaid {
	background-color: transparent !important;
}

#search-results > li > a > div.grow {
	max-width: calc(100% - 1.5rem) !important;
	word-wrap: break-word !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: unset !important;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: unset !important;
}

.max-w-7xl {
	max-width: 100rem !important;
}

.max-w-prose {
	max-width: 100ch !important;
}