{{if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true)}}
	{{range .Params.authors}}
		{{- $author := index site.Data . -}}
		<div class="flex">
			{{with $author.image}}
				{{- $image := (resources.GetRemote .).Resize `160x` -}}
				<img class="!mb-0 !mt-0 me-4 aspect-auto w-24 rounded-full" alt="{{$author.name | default `Author`}}" src="{{$image.RelPermalink}}">
			{{end}}
			<div class="place-self-center">
				{{with $author.name | markdownify | emojify}}
					<div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
						{{$author.role | default (i18n "author.byline_title") | markdownify | emojify}}
					</div>
					<div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
						{{.}}
					</div>
				{{end}}
				{{with $author.bio | markdownify | emojify}}
					<div class="text-sm text-neutral-700 dark:text-neutral-400">{{.}}</div>
				{{end}}
				{{with $author.links}}
					<div class="text-2xl sm:text-lg">
						<div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
							{{range $links := .}}
								{{range $name, $url := $links}}
									<a class="px-1 transition-transform hover:scale-125 hover:text-primary-700 dark:hover:text-primary-400" style="will-change:transform;" href="{{$url | safeURL}}" target="_blank" aria-label="{{$name | title}}" rel="noopener noreferrer">
										{{- partial "icon.html" $name -}}
									</a>
								{{end}}
							{{end}}
						</div>
					</div>
				{{end}}
			</div>
		</div>
	{{end}}
{{end}}